<div class="container mx-auto p-0" style="max-width:500px;">
    <div style="text-align:center;">
        <img src='/dist/fonts/SpaceInvader.svg' style='width:150px;'>
        <div><span>Something went wrong</span></div>
    </div>
</div>


















