@model SpeedRunApp.Model.ViewModels.ResetPasswordViewModel

@{ ViewBag.Title = "Reset Password"; }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    <div class="col-sm-auto p-2 align-self-end">
        <h4 class="m-0">Reset Password</h4>
    </div>
    <div id="divActivate" class="container mx-auto p-0" style="max-width:400px;">
        @using (Html.BeginForm("ResetPassword", "SpeedRun"))
        {
            @Html.ValidationSummary()
            <div class="form-group row no-gutters">
                <label class="col-sm-4 col-form-label">Username</label>
                <div class="col-sm-auto">
                    @Html.TextBoxFor(i => i.Username, new { @autocomplete = "off", @class = "form-control" })
                </div>
            </div>
            <div class="row no-gutters pt-1">
                <div class="form-group mx-auto">
                    <input id="btnActivate" type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
            <div style="@(Model.Success ? "" : "display:none;")">
                <div class="container p-3" style="max-width: 400px;">
                    <div class="mx-auto">
                        <span>To Reset your password click the reset password link in the email we just sent you.</span>
                        <br />
                        <br />
                        <span>If your email has not arrived try these steps:</span>
                        <ul class="pl-4">
                            <li>Wait 30 mins</li>
                            <li>Check your spam folder</li>
                            <li>Try Reset Password again</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




