@using SpeedRunCommon.Extensions;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model SpeedRunApp.Model.ViewModels.SpeedRunListViewModel

@{ ViewBag.Title = "SpeedRunList"; }

<div>
    <speedrun-list-category></speedrun-list-category>
</div>




