@model SpeedRunApp.Model.SpeedRunListViewModel

@{
    ViewBag.Title = "SpeedRunList";
}

<h2>Latest Games</h2>

@{
    foreach (var run in Model.SpeedRuns)
    {
        @Html.Partial("SpeedRunSummary", run)
    }
}
