@model SpeedRunApp.Model.ViewModels.SpeedRunListViewModel

@{
    ViewBag.Title = "SpeedRunList";
}

@section Scripts {
    <script src="@Url.Content("~/js/speedrun-list.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var elementsPerPage = @Json.Serialize(Model.ElementsPerPage);

            initializeClient(elementsPerPage);
        })
    </script>
}

<div>
    <div id="divSpeedRunListSort">
        <div class="container d-flex mx-auto p-0" style="max-width:598px; margin-bottom:20px;">
            <div class="row no-gutters p-2 align-self-center">
                <div id="btnGrpCategory" class="btn-group btn-group-toggle categoryGroup" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm active">
                        <input type="radio" class="category" id="btnCategory0" name="btnCategory" autocomplete="off" value="0" checked><i class="fa fa-certificate fa-lg"></i>&nbsp;New
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" class="category" id="btnCategory1" name="btnCategory" autocomplete="off" value="1"><i class="fa fa-check-circle fa-lg"></i>&nbsp;Verified
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" class="category" id="btnCategory2" name="btnCategory" autocomplete="off" value="2"><i class="fa fa-times-circle fa-lg"></i>&nbsp;Rejected
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="divSpeedRunList">
        @await Html.PartialAsync("_SpeedRunSummaryList", Model.SpeedRuns)
    </div>
    <div id="loading">
        <div class="d-flex">
            <div class="mx-auto">
                <i class="fas fa-spinner fa-spin fa-lg"></i>
            </div>
        </div>
    </div>
</div>




