@model SpeedRunApp.Model.ViewModels.LoginViewModel

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function login() {
        var $modal = $('#loginModal');
        var $modalBody = $modal.find('.modal-body');
        var formData = new FormData($('#frmLogin')[0]);
        var $summaryul = $modal.find('.validation-summary-errors ul');
        $summaryul.empty()

        if ($('#frmLogin').valid()) {
            $.ajax({
                url: "/SpeedRun/Login",
                processData: false,
                contentType: false,
                type: "POST",
                data: formData,
                success: function (data) {
                    if (data.success) {
                        $modal.modal('hide');
                        location.reload();
                    } else if (data.success === false) {
                        $modalBody.html(data.message);
                    } else {
                        $modalBody.html(data);
                    }
                }
            });
        }
    }
</script>

<div id="divLogin" class="container">
    <form asp-controller="SpeedRun" asp-action="Login" method="post" id="frmLogin" role="form">
        @Html.ValidationSummary()
        <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-auto">
                @Html.TextBoxFor(i => i.Username, new { @autocomplete = "off", @class = "form-control" })
            </div>
        </div>
        <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-auto">
                @Html.PasswordFor(i => i.Password, new { @autocomplete = "off", @class = "form-control" })
            </div>
        </div>
        <div class="row no-gutters pt-1">
            <div class="form-group mx-auto">
                <input id="btnLogin" type="button" class="btn btn-primary" value="Log In" onclick="login()" />
                <input id="btnResetPass" type="button" class="btn btn-secondary" value="Forgot Password" onclick="showResetPass()" />
            </div>
        </div>
    </form>
</div>




