@model SpeedRunApp.Model.ViewModels.LoginViewModel

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    function login() {
        var $modal = $('#loginModal');
        var $modalBody = $modal.find('.modal-body');
        var formData = new FormData($('#frmLogin')[0]);

        if ($('#frmSignUp').valid()) {
            $loading.show();

            $.ajax({
                url: "/SpeedRun/Login",
                processData: false,
                contentType: false,
                type: "POST",
                data: formData,
                success: function (data) {
                    if (data.success) {
                        $modal.modal('hide');
                        location.reload();
                    }
                }
            });
        }
    }

</script>

<div id="divLogin" class="container">
    <form asp-controller="SpeedRun" asp-action="SignUp" method="post" id="frmLogin" role="form">
        @Html.ValidationSummary()
        <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-auto">
                @Html.TextBoxFor(i => i.Username, new { @autocomplete = "off", @class = "form-control" })
            </div>
        </div>
        <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-auto">
                @Html.PasswordFor(i => i.Password, new { @autocomplete = "off", @class = "form-control" })
            </div>
        </div>
        <div class="row no-gutters pt-1">
            <div class="form-group mx-auto">
                <input id="btnLogin" type="button" class="btn btn-primary" value="Log In" onclick="login()" />
                <a class="btn btn-secondary ml-2" href="/SpeedRun/ResetPassword" role="button">Forgot Password</a>
            </div>
        </div>
    </form>
</div>




