@model SpeedRunApp.Model.ViewModels.ResetPasswordViewModel

@{ ViewBag.Title = "Reset Password"; }

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    function resetPass() {
        var $modal = $('#loginModal');
        var $modalBody = $modal.find('.modal-body');
        var $loading = $modal.find('.resetpass-loading');
        var $successmsg = $modal.find('.resetpass-successmsg');
        var $summaryul = $modal.find('.validation-summary-errors ul');
        var formData = new FormData($('#frmResetPass')[0]);

        $successmsg.hide();
        $summaryul.empty()

        if ($('#frmResetPass').valid()) {
            $loading.show();

            $.ajax({
                url: "/SpeedRun/ResetPassword",
                processData: false,
                contentType: false,
                type: "POST",
                data: formData,
                success: function (data) {
                    if (data.success) {
                        $loading.hide();
                        $successmsg.show();
                    } else if (data.success === false) {
                        $modalBody.html(data.message);
                    } else {
                        $modalBody.html(data);
                    }
                }
            });
        }
    }

</script>

<div id="divResetPass" class="container">
    <form asp-controller="SpeedRun" asp-action="ResetPassword" method="post" id="frmResetPass" role="form">
        @Html.ValidationSummary(string.Empty, new { @class = "resetpass-summary" })
        <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-auto">
                @Html.TextBoxFor(i => i.Username, new { @autocomplete = "off", @class = "form-control" })
            </div>
        </div>
        <div class="row no-gutters pt-1">
            <div class="form-group mx-auto">
                <input id="btnResetPass" type="button" class="btn btn-primary" value="Reset Password" onclick="resetPass()" />
            </div>
        </div>
        <div>
            <div class="resetpass-loading" style="display:none;">
                <div class="container d-flex p-3">
                    <div class="mx-auto align-self-center">
                        <i class="fa fa-spinner fa-spin fa-lg"></i>
                    </div>
                </div>
            </div>
            <div class="resetpass-successmsg" style="display:none;">
                <div class="container p-3" style="max-width: 400px;">
                    <div class="mx-auto">
                        <span>To Reset your password click the reset password link in the email we just sent you.</span>
                        <br />
                        <br />
                        <span>If your email has not arrived try these steps:</span>
                        <ul class="pl-4">
                            <li>Wait 30 mins</li>
                            <li>Check your spam folder</li>
                            <li>Try Reset Password again</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





