@using SpeedRunApp.WebUI
@model SpeedRunApp.WebUI.Models.SpeedRunViewModel

    <div style="min-width:640px;">
        <div>
            <div class="inline">
                <h3>
                    <strong>@Model.SpeedRun.Game.Name</strong>
                </h3>
            </div>
            <div class="inline" sstyle="margin-left:10px;">
                <h4>
                    <strong>@Model.SpeedRun.Times.Primary.ToString()</strong>
                </h4>
            </div>
        </div>
        <div>
            <iframe src="@Model.SpeedRun.Videos.Links.FirstOrDefault().ToEmbeddedURI().ToString()"
                    height="512"
                    width="100%"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true"></iframe>
        </div>
    </div>



