<script id="button-dropdown" type="text/html">
    <div class="dropdown" :class="{ show : state }" @click.stop="toggleDropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <slot name="text"></slot>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" :class="{ show : state }" aria-labelledby="dropdownMenuButton">
            <slot name="options"></slot>
        </ul>
    </div>
</script>


