<script id="custom-modal" type="text/html">
    <vue-final-modal v-slot="{ params, close }" v-bind="$attrs" classes="modal-container" content-class="modal-dialog modal-dialog-centered modal-lg" v-on="$listeners">
        <div class="modal-content">
            <div class="modal-header p-0">
                <slot name="header">
                    <div class="modal-title col-sm-10 align-self-center">
                        <slot name="title"></slot>
                    </div>
                </slot>
                <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close" @click="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mt-3">
                <slot v-bind:params="params"></slot>
            </div>
        </div>
        <!--<div class="modal__action">
            <v-button @click="$emit('confirm', close)">confirm</v-button>
            <v-button @click="$emit('cancel', close)">cancel</v-button>
        </div>-->
        <!--<button class="modal__close" @click="close">
            <mdi-close></mdi-close>
        </button>-->
    </vue-final-modal>
    <!--<transition name="modal" v-if="showModal">
        <div id="editModal" class="modal-mask modal show">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <div class="modal-title col-sm-10 align-self-center">Details</div>
                        <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close" @click="showModal = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mt-3"><speedrun-edit :gameid="item.game.id" :speedrunid="item.id" :readonly="true"></speedrun-edit></div>
                </div>
            </div>
        </div>
    </transition>-->
</script>


