<script id="reset-password" type="text/html">
    <div id="divResetPass" class="container">
        <form @submit.prevent="submitForm">
            <div>
                <ul>
                    <li v-for="errorMessage in errorMessages">{{ errorMessage }}</li>
                </ul>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-auto">
                    <input type="text" name="Username" class="form-control" autocomplete="off" v-model="form.Username">
                </div>
            </div>
            <div class="row no-gutters pt-1">
                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
            <div>
                <div v-if="loading">
                    <div class="container d-flex p-3">
                        <div class="mx-auto align-self-center">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
                <div v-else-if="showSuccess">
                    <div class="container p-3" style="max-width: 400px;">
                        <div class="mx-auto">
                            <span>To Reset your password click the reset password link in the email we just sent you.</span>
                            <br />
                            <br />
                            <span>If your email has not arrived try these steps:</span>
                            <ul class="pl-4">
                                <li>Wait 30 mins</li>
                                <li>Check your spam folder</li>
                                <li>Try Reset Password again</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

