<script id="speedrun-edit" type="text/html">
    <div id="divSpeedRunEdit" class="container">
        <div class="form-group row no-gutters">
            <label class="col-sm-2 col-form-label">Game</label>
            <div class="col-sm-10">
                <span class="icon-wrapper">
                    <input id="txtGameSearch" type="text" name="game" class="form-control mr-sm-2 game-search" style="width:300px;" placeholder="Search Games" aria-label="Search" v-model="gamename">
                 </span>
            </div>
        </div>
    </div>
</script>

