@model SpeedRunApp.Model.ViewModels.ChangePasswordViewModel

@{ ViewBag.Title = "Change Password"; }

<div>
    <div class="col-sm-auto p-2 align-self-end">
        <h4 class="m-0">Change Password</h4>
    </div>
    <div class="container-lg mx-auto p-0" style="max-width:500px;">
        <change-password :islinkvalid="@Json.Serialize(Model.IsValid)"/>
    </div>
</div>






