<div class="container-lg mx-auto p-0" style="max-width:500px;">
    <div style="text-align:center;">
        <i class="fas fa-exclamation-triangle fa-lg" style="color: #FF8C00;"></i>
        <div><span>Something went wrong</span></div>
    </div>
</div>


















