@model SpeedRunApp.Model.ViewModels.SpeedRunListViewModel
@{ ViewBag.Title = "SpeedRunList"; }

<div>
    <speedrun-list-tab :defaulttopamt="@Json.Serialize(Model.DefaultTopAmount)"></speedrun-list-tab>
</div>




