@model SpeedRunApp.Model.ViewModels.SpeedRunListViewModel
@{ ViewBag.Title = "SpeedRunList"; }

<div>
    <speedrun-list-category :defaulttopamt="@Json.Serialize(Model.DefaultTopAmount)"></speedrun-list-category>
</div>




