@model SpeedRunApp.Model.ViewModels.SpeedRunListViewModel
@{ ViewBag.Title = "SpeedRunList"; }

<div class="container mx-auto p-0" style="max-width:598px;">
    <speedrun-list-tab :defaulttopamt="@Json.Serialize(Model.DefaultTopAmount)"></speedrun-list-tab>
</div>




