@using System.Security.Claims

<div class="container p-0">
    @if (!User.Identity.IsAuthenticated)
    {
        <div><span>Please login to view user settings</span></div>
    }
    else 
    {
        <h5 class="m-0 font-weight-bold m-0">@User.FindFirst(ClaimTypes.Name).Value</h5>
        <div>
            <useraccount :useraccountid="'@User.FindFirst(ClaimTypes.NameIdentifier).Value'"></useraccount>
        </div>    
    }
</div>




























