<div class="container pl-0">
    <div class="container ml-0">
        <h4>What is it?</h4>
        <div class="pl-3">
            This site focuses on trends and analysis of the data from <a href="https://www.speedrun.com/">speedrun.com</a>. It’s designed to have a discoverable front end (like reddit) with more analysis features as the user drills in. The idea is to be more browsable for casual fans of speed running, as well as offer analysis features.
        </div>
    </div>
    <div class="container pt-3">
        <h4>How frequently is the data updated?</h4>
        <div class="pl-3">
            The speedruns are updated every 5 mins via the speedrun.com API. The Games are updated weekly to keep up with changes.
        </div>
    </div>
    <div class="container pt-3">
        <h4>Any future plans?</h4>
        <div class="pl-3">
            The site is made by just me so far, so time permitting looking to implement some of the following:
            <ul>
                <li>Implement user login and offer additional features for users with accounts</li>
                <li>Look into allowing users to submit speedruns from this site to speedrun.comli>
                <li>Make the site more mobile friendly as well as more analysis features</li>
            </ul>
        </div>
    </div>
    <div class="container pt-3">
        <h4>Help / Contact</h4>
        <div class="pl-3">
            If you run into any issues or have some suggestions for the site please let us know. We’re open to features that user's want and would like to make this site something speedrunners and fans use regularly. You can contact us at <a href="mailto:speedruncharts@outlook.com">speedruncharts</a>. Thanks for visiting the site and happy speedrunning!
        </div>
    </div>
</div>


















