<div class="container pl-0">
    <div class="container ml-0">
        <h4>What is it?</h4>
        <div class="pl-3">
            This site is intended to focus on trends and analysis of the data from <a href="https://www.speedrun.com/">speedrun.com</a>. For example showing the most recent runs in the top 5% of their category, or showing a graph of the top 10 runs for a particular game/category, etc. Additionally the site is designed to have a browsable front end (endless scroll of videos) with more analysis features as the user drills in. The idea is to show the data in a way that's different than speedrun.com and interesting for both fans of watching speedruns as well as speedrunners.
        </div>
    </div>
    <div class="container pt-3">
        <h4>How frequently is the data updated?</h4>
        <div class="pl-3">
            The speedruns are updated every 15 mins via the speedrun.com API. The Games are updated nightly to keep up with changes to the Categories, Variables, Levels, etc.
        </div>
    </div>
    <div class="container pt-3">
        <h4>Any future plans?</h4>
        <div class="pl-3">
            This site is made by one person so far, so time permitting looking to implement some of the following:
            <ul>
                <li>Implement user login, then offer additional features for users that have accounts (custom categories on landing page, custom graphs, etc).</li>
                <li>If possible get an API token with the folks at speedrun.com so that users can submit speedruns from this site.</li>
                <li>Make the site more mobile friendly as well as more analysis features.</li>
            </ul>
        </div>
    </div>
    <div class="container pt-3">
        <h4>Help / Contact</h4>
        <div class="pl-3">
            If you run into any issues/bugs or have some suggestions for the site please let us know, We're all ears for features that user's want. Contact us at <a href="mailto:speedruncharts@outlook.com">speedruncharts</a>.
        </div>
    </div>
</div>


















