.ui-jqgrid .ui-jqgrid-htable th {
    color: #3B3F43;
    font-size: 15px;
    font-weight: bold;
}

.ui-jqgrid .ui-jqgrid-htable th:hover {
    color: #080C10;
}

.ui-jqgrid tr.ui-row-ltr td {
    padding: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
}

/*.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    border-bottom: 1px #95d6d8 solid;
    border-right: 1px #95d6d8 solid;
}

.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child {
    border-left: 1px #95d6d8 solid;
}*/


/*
.jqgroupingheader {
    background: #95d6d8;
    padding: 5px 0;
    font-size: 14px;
}

.jqgroupingheader ol {
    height: 32px;
    line-height: 32px;
}

.jqgroupingheader li:not(.placeholder) {
    margin: 0 3px 3px 3px;
    padding: 7px;
    height: 18px;
    display: inline;
    background: #FFFFFF;
    padding-right: 17px;
}

.jqgroupingheader li span {
    position: absolute;
    margin-top: 7px;
}

.placeholder {
    padding: 5px 0;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "proxima-nova";
    height: 30px;
}

.placeholder {
    color: #fff;
    padding: 0px 10px;
    border: 2px dashed #69bbcb;
    font-size: 13px;
    line-height: 28px;
    text-align: left;
    position: relative;
    border-image-repeat: round;
    border-image-slice: 2;
    border-image-source: url("../images/spyglass/stitch-border.png");
}

.placeholder {
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

.jqgroupingheader li.grouping-text {
    background: transparent;
    font-weight: bold;
    font-style: italic;
    padding-right: 0;
}

.ui-jqgrid {
    font-family: Arial, Helvetica, sans-serif;
}



.ui-jqgrid.ui-widget-content {
    border: 0;
}

.ui-jqgrid .ui-widget-content {
    border: 0;
}

.ui-jqgrid.ui-corner-all {
    border-radius: 0;
}

.altRow {
    background: #eee;
}


.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: 24px;
    margin-top: 5px;
}

.ui-jqgrid span.ui-icon.ui-icon-triangle-1-s {
    background: url(../images/sort-desc.png) left center no-repeat !important;
    width: 10px;
    margin-top: -2px;
}

.ui-jqgrid span.ui-icon.ui-icon-triangle-1-n {
    background: url(../images/sort-asc.png) left center no-repeat !important;
    width: 10px;
    margin-top: -2px;
}

.ui-jqgrid .ui-icon-asc {
    height: 14px;
    margin-top: .25em;
    margin-left: 5px;
}

.ui-jqgrid .ui-icon-desc {
    height: 14px;
    margin-top: .25em;
    margin-left: 5px;
}

.ui-jqgrid .s-ico .ui-state-disabled {
    display: none;
}

.ui-jqgrid tr.ui-row-ltr td {
    padding: 5px;
    font-size: 13px;
    text-overflow: ellipsis;
    border-bottom: 1px #95d6d8 solid;
    border-right: 1px #95d6d8 solid;
}

.ui-jqgrid tr.ui-row-ltr td:first-child {
    border-left: 1px #95d6d8 solid;
}

.ui-jqgrid tr.ui-row-ltr.jqgroup td {
    padding: 0;
    line-height: 35px;
    vertical-align: middle;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
}

.jqgroup {
    background: #95d6d8;
    color: #037799;
    border-bottom: 1px #fff solid;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}

.jqgroup td .ui-icon-circlesmall-minus {
    background: url(../images/tminus.gif) left center no-repeat !important;
    margin-top: 8px;
    background-position: initial;
    width: 15px;
    height: 10px;
}

.jqgroup td .ui-icon-circlesmall-plus {
    background: url(../images/tplus.gif) left center no-repeat !important;
    margin-top: 8px;
    background-position: initial;
    width: 10px;
    height: 15px;
}

.ui-jqgrid-labels {
}

.HeadingCell {
    border-left: 1px #95d6d8 solid;
    vertical-align: middle;
}

.HeadingCellText {
    vertical-align: middle;
}

.HeadingCell:first-child {
    border-left: 0;
}

.Row:hover {
    background: #fce4b9 !important
}

.AlternatingRow:hover {
    background: #fce4b9 !important
}

.Row {
    background: #fff;
}

.AlternatingRow {
    background: #eee;
    background-color: #eee;
}

.HeadingRow > td, .Row td, .AlternatingRow td, .SelectedRow td, .BoldRow td, .SelectedBoldRow td {
    border-bottom: 1px #95d6d8 solid;
}

.DataCell {
    padding: 5px 5px;
    font-size: 13px;
}

.DataCell {
    border-left: 1px #95d6d8 solid;
    vertical-align: middle;
}

.SelectedRow td {
    background: #fce4b9;
}

.ui-paging-pager {
    font-size: 13px;
}

.ui-jqgrid .ui-pg-input {
    display: inline-block;
    font-size: 13px;
    height: 18px;
    padding-left: 7px;
    width: 18px;
}

.ui-jqgrid .ui-paging-info {
    font-size: 13px;
}

.ui-jqgrid .ui-pg-selbox {
    font-size: 13px;
    height: 22px;
    -webkit-appearance: caret;
    -moz-appearance: initial;
}

.ui-jqgrid .ui-corner-all, .ui-jqgrid .ui-corner-top, .ui-jqgrid .ui-corner-left, .ui-jqgrid .ui-corner-tl, .ui-jqgrid .ui-corner-right, .ui-jqgrid .ui-corner-tr, .ui-jqgrid .ui-corner-bottom, .ui-corner-bl, .ui-jqgrid .ui-corner-br {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
}

.ui-jqgrid .loading {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    z-index: 999;
}

.ui-draggable-dragging {
    background: #d1d2d3;
    color: #037798;
    min-width: 100px;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
    font-size: 13px;
    font-weight: bold;
}

.ui-icon-close {
    cursor: pointer;
}

#jqGridPager {
    height: 32px;
    line-height: 32px;
    font-family: 'Proxima Nova', Arial;
    font-size: 13px;
}

.ui-jqgrid .ui-icon {
    background-image: none !important;
    text-indent: 0px;
    width: 24px;
    height: 24px;
    color: #037798;
}

.ui-icon-seek-first {
    position: relative;
}

.ui-icon-seek-first:before {
    content: "\f049";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: -5px;
    width: 24px;
    height: 24px;
}

.ui-icon-seek-next:before {
    content: "\f04e";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: -5px;
    width: 24px;
    height: 24px;
}

.ui-icon-seek-prev:before {
    content: "\f04a";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: -5px;
    width: 24px;
    height: 24px;
}

.ui-icon-close:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    top: -8px;
    width: 16px;
    height: 16px;
}

.ui-jqgrid .loading {
    top: 0%
}
*/

