.scroller-tab-wrapper {
    overflow:hidden; 
    white-space:nowrap; 
    flex-wrap:nowrap; 
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.scroller-tab-list-container {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.scroller-tab-list {
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
}

.scroller-tab-list li {
    display: table-cell; 
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #efefef;
    vertical-align: middle;
}

.scroller-tab {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 11px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
}

.tab-row-name-container {
    width: 130px;
    display: flex;
}

.tab-row-name {
    font-size: 14px !important;
    line-height: 18px;
    font-weight: bold;
}

/*ScrollerTab*/
.scroll_tabs_container div.scroll_tab_inner span, .scroll_tabs_container div.scroll_tab_inner li {
    font-size:14px;
}

.scroll_tabs_container{
    height:40px;
}

.scroll_tabs_container .scroll_tab_right_button {
    height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_container .scroll_tab_right_button::before {
    content: "\25B6";
    /*line-height: 40px;*/
    padding-left: 5px;
}

/*.scroll_tabs_container .scroll_tab_right_button_disabled {
    display: none;
}*/

.scroll_tabs_container .scroll_tab_left_button {
    height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll_tabs_container .scroll_tab_left_button::before {
    content: "\25C0";
    /*line-height: 40px;*/
    padding-left: 5px;
}

/*.scroll_tabs_container .scroll_tab_left_button_disabled {
    display: none;
}*/



