.scroller-tab-wrapper {
    overflow:hidden; 
    white-space:nowrap; 
    flex-wrap:nowrap; 
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.scroller-tab-list-container {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.scroller-tab-list {
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
}

.scroller-tab-list li {
    display: table-cell;
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #efefef;
    vertical-align: middle;
}

.scroller-tab {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 11px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #fff;
}




