/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 30px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-round {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.img-round > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** select2 **/
.select2-container {
    font-size: 13px;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 240px !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple
{
    min-height: 32px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered li.select2-search input[type="search"] {
    font-size: 14px;
    height: 15px;
    padding: 0;
    padding-left: 5px;
}

.select2-results__options {
    line-height: 14px;
}

input:not(.btn):not([type=checkbox]):not([type=radio]):not(.ui-pg-input),
select:not(.ui-pg-selbox) {
    height: 32px;
}

input.date {
    font-size: 20px !important;
    padding: 0px 10px 0 40px !important;
    font-weight: 200;
    cursor: pointer
}

.icon-wrapper {
    position: relative;
    font-size: 20px;
    display: block;
    line-height: 32px;
}

.icon-wrapper.date-icon:before {
    content: "\f133";
    font-family: 'Font Awesome 5 Free';
    left: 10px;
    position: absolute;
}

.icon-wrapper.loading-icon:before {
    content: "\f110";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    right: 15px;
    position: absolute;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.date {
    width: 170px !important;
}

.form .row {
    padding-bottom:5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


a.linkToggle:before {
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    padding-right: 5px;
    font-weight: 900;
}

a.linkToggle.expanded:before {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    padding-right: 5px;
    font-weight: 900;
}

/**Chart Container**/
div.chart-placeholder {
    height: 500px;
    width: 500px;
    display: flex;
}

div.chart-placeholder + div.chart-placeholder {
    margin-left: 10px;
}

.fusioncharts-container {
    background-color:#FFFFFF;
}

.nav-tabs {
    border-bottom: none;
}

.tooltip {
    pointer-events: none;
}

.ui-autocomplete {
    width: 300px;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100000;
}

.ui-menu-item-wrapper {
    padding: 4px 24px !important;
}

.ui-autocomplete-category {
    padding: 8px 24px !important;
    color: #888;
    font-size: 14px;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626 !important;
    background-color: #E0E0E0 !important;
    cursor: pointer;
    border: none !important;
}














































