Hi @Model.Email,
<br />
<br />
<br />
Thanks for validating your email with SpeedRunCharts.
<br />
To create your account, please click link below (link is valid for 48 hours):
<br />
<a href="@Model.ActivateLink">@Model.ActivateLink</a>
<br />
<br />
Sincerly,
<br />
<br />
SpeedRunCharts
