Hi @Model.Username,
<br />
<br />
<br />
Thanks for registering at <a href="https://speedruncharts.com">speedruncharts.com</a>. We really appreciate your interest in our site and look forward to having you as a member. We're always open to new ideas, if you have any feel free to drop us an email at <a href="mailto:@Model.SupportEmail">SpeedRunCharts</a>.
<br />
<br />
Sincerly,
<br />
<br />
SpeedRunCharts
