Hi @Model.Username,
<br />
<br />
<br />
To reset your password, please use the link below (link is valid for 48 hours):
<br />
<a href="@Model.ResetPassLink">@Model.ResetPassLink</a>
<br />
<br />
Sincerly,
<br />
<br />
SpeedRunCharts
