<div>
    <div id="divChartContainer" class="container-fluid ml-0" style="width:1520px; display:<%= (item.Sender == 'User') ? 'none' : 'block' %>">
        <% _each(item.CategoryTypes, function(categoryType, categoryTypeIndex) { %>
        var categories = Model.Categories.Where(x => x.CategoryTypeID == a.ToString()).ToList();
        <div id="divCategoryType-<%= categoryTypeIndex %>-charts" class="categoryType-tab-pane-charts p-0 <%= (categoryTypeIndex == 0) ? ' show' : '' %>">
            <% _each(_filter(item.Categories, function(ft) { return ft.Type == categoryType }), function(category, categoryIndex) { %>
            <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-0-Category-<%= categoryIndex.toString() %>-charts" class="category-tab-pane-charts <%= (categoryIndex == 0) ? ' show' : '' %>">
                <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-0-Category-<%= categoryIndex.toString() %>-Level-NA-charts" class="row charts-container category-results-charts" data-gameid="<%= item.Games[0].ID %>" data-categorytype="<%= category.CategoryTypeID %>" data-categoryid="<%= category.ID %>">
                    <div class="chart-container" data-index="0"></div>
                    <div class="chart-container pl-2" data-index="1"></div>
                    <div class="chart-container pl-2" data-index="2"></div>
                </div>
                <div class="level-results-charts">
                    <% _each(item.Levels, function(level, levelIndex) { %>
                    <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-0-Category-<%= categoryIndex.toString() %>-Level-<%= levelIndex.toString() %>-charts" class="row charts-container level-tab-pane-charts" data-gameid="<%= item.Games[0].ID %>" data-categorytype="<%= category.CategoryTypeID %>" data-categoryid="<%= category.ID %>" data-levelid="<%= level.ID %>">
                        <div class="chart-container" data-index="0"></div>
                        <div class="chart-container pl-2" data-index="1"></div>
                        <div class="chart-container pl-2" data-index="2"></div>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
    <div id="divGridContainer" class="pt-4">
        <div class="row no-gutters p-1">
            <div class="col-auto align-self-end ">
                <label class="font-weight-bold">Category Type:</label>
            </div>
            <div class="col pl-2">
                <ul class="nav nav-pills">
                    <% _each(item.CategoryTypes, function(categoryType, categoryTypeIndex) { %>
                    <li class="nav-item categoryType">
                        <a id="ankCategoryType-<%= categoryTypeIndex.toString() %>-tab" class="nav-link <%= (categoryTypeIndex == 0) ? ' active' : '' %>" href="#divCategoryType-<%= categoryTypeIndex.toString() %>" data-toggle="pill"><%= categoryType.Name %></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <% _each(item.CategoryTypes, function(categoryType, categoryTypeIndex) { %>
        <div class="grid-container">
            <div id="divCategoryType-<%= categoryTypeIndex.toString() %>" class="categoryType-tab-pane p-0 <%= categoryTypeIndex == 0 ? ' show' : '' %>">
                <div class="game-tabs row no-gutters px-1 pt-1 pb-0" style="display:<%= (item.Sender == 'Game') ? 'none' : 'block' %>">
                    <div class="col align-self-end"><label class="font-weight-bold">Game:</label></div>
                    <div class="col-11 pl-2 scroller-tab-wrapper">
                        <div class="row no-gutters">
                            <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                            <div class="col scroller-tab-list-container">
                                <ul class="nav nav-tabs scroller-tab-list">
                                    <% _each(_filter(item.Games, function(ft) { return ft.CategoryTypeIDs.indexOf(categoryType.ID) > -1 }), function(game, gameIndex) { %>
                                    <li class="nav-item game">
                                        <a id="ankCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-tab" class="nav-link <%= (gameIndex == 0) ? ' active' : '' %>" href="#divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>" data-toggle="tab"><%= game.Name %></a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <% _each(_filter(item.Games, function(ft) { return ft.CategoryTypeIDs.indexOf(categoryType.ID) > -1 }), function(game, gameIndex) { %>
                <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>" class="game-tab-pane <%= (gameIndex == 0) ? ' show' : '' %>">
                    <div class="category-tabs row no-gutters px-1 pt-1 pb-0">
                        <div class="col align-self-end"><label class="font-weight-bold">Category:</label></div>
                        <div class="col-11 pl-2 scroller-tab-wrapper">
                            <div class="row no-gutters">
                                <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                                <div class="col scroller-tab-list-container">
                                    <ul class="nav nav-tabs scroller-tab-list">
                                        <% _each(_filter(item.Categories, function(ft) { return ft.GameID == game.ID && ft.CategoryTypeID == categoryType.ID }), function(category, categoryIndex) { %>
                                        <li class="nav-item category">
                                            <a id="ankCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-tab" class="nav-link <%= (categoryIndex == 0) ? ' active' : '' %>" href="#divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>" data-toggle="tab" data-categorytype="<%= category.CategoryTypeID %>">category.Name</a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <% _each(_filter(item.Categories, function(ft) { return ft.GameID == game.ID && ft.CategoryTypeID == categoryType.ID }), function(category, categoryIndex) { %>
                    <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>" class="category-tab-pane <%= (categoryIndex == 0) ? ' show' : '' %>">
                        <div class="level-tabs row no-gutters px-1 pt-1 pb-0">
                            <div class="col align-self-end"><label class="font-weight-bold">Level:</label></div>
                            <div class="col-11 pl-2 scroller-tab-wrapper">
                                <div class="row no-gutters">
                                    <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                                    <div class="col scroller-tab-list-container">
                                        <ul class="nav nav-tabs scroller-tab-list">
                                            <% _each(_filter(item.Levels, function(ft) { return ft.GameID == game.ID }), function(level, levelIndex) { %>
                                            <li class="nav-item level">
                                                <a id="ankCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-Level-<%= levelIndex.toString() %>-tab" class="nav-link <%= (levelIndex == 0) ? ' active' : '' %>" href="#divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-Level-<%= levelIndex.toString() %>" data-toggle="tab">@level.Name</a>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-Level-NA" class="category-results" data-gameid="<%= game.ID %>" data-categorytype="<%= categoryType.ID %>" data-categoryid="<%= category.ID %>">
                            <table class="grid"></table>
                            <div id="divPager-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-Level-NA" class="pager"></div>
                        </div>
                        <div class="level-results">
                            <% _each(_filter(item.Levels, function(ft) { return ft.GameID == game.ID }), function(level, levelIndex) { %>
                            <div id="divCategoryType-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-Level-<%= levelIndex.toString() %>" class="level-tab-pane" data-gameid="<%= game.ID %>" data-categorytype="<%= categoryType.ID %>" data-categoryid="<%= category.ID %>" data-levelid="<%= level.ID %>">
                                <table class="grid"></table>
                                <div id="divPager-<%= categoryTypeIndex.toString() %>-Game-<%= gameIndex.toString() %>-Category-<%= categoryIndex.toString() %>-Level-<%= levelIndex.toString() %>" class="pager"></div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        }
    </div>
</div>


