@using System.Text.Json;
@model SpeedRunApp.Model.ViewModels.UserDetailsViewModel

<div class="container p-0">
    @if (Model.UserVM == null)
    {
        <div class="container mx-auto p-0" style="max-width:500px;">
            <div style="text-align:center;">
                <i class="fa fa-search fa-lg"></i>
                <div><span>User not found, please search for the user by name and try again</span></div>
            </div>
        </div>
    }
    else
    {
        <userdetails :uservm="@JsonSerializer.Serialize(Model.UserVM, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase})" :speedrunid="'@Model.SpeedRunID'"></userdetails>
    }
</div>



























