.theme-dark {
    --bs-primary: #375a7f;
    --bs-secondary: #444;
    --bs-white: #fff;    
    --bs-grey: #888;     
    --bs-body-bg: #222; 
    --bs-anchor-color: #1278a1;    
    --bs-anchor-hover: #158cba;
    --bs-border-color1:#222;
    --bs-border-color2: #739ac2;
    --bs-border-color4: #28415b;  
    --bs-border-color6: #2b2a2a;    
    --bs-border-color10: #444;  
    --bs-border-color11: #95999c;                
    --bs-border-color12: #454d55;                
    --bs-text-color1: #f2f2f2; 
    --bs-text-color2: #fff;  
    --bs-text-color3: #262626; 
    --bs-text-color6: #999;     
    --bs-text-color7: #ccc;  
    --bs-text-color8: #888;     
    --bs-background-color1:#444; 
    --bs-background-color5: #E0E0E0;   
    --bs-background-color7: #303030;    
    --bs-background-color9: #303030;
    --bs-background-color12: #303030;             
    --bs-background-color16: transparent;  
    --bs-background-color17: transparent;   
    --bs-background-color18: #c6c8ca; 
    --bs-background-color19: #b9bbbe;      
    --bs-background-color20: #343a40;      
    --bs-box-shadow-color1: rgba(55, 90, 127, 0.251);
    --bs-box-shadow-color2: rgba(55, 90, 127, 0.251);
    --bs-box-shadow-color5: rgba(255, 255, 255, 0.149);
    --bs-box-shadow-color7: rgba(255, 255, 255, 0.1);
    --bs-filter1: brightness(0) invert(1);
    --bs-url1: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.theme-light {
    --bs-primary: #3459e6;
    --bs-secondary: #fff;
    --bs-white: #fff;   
    --bs-grey: #888;         
    --bs-body-bg: #fff;
    --bs-anchor-color: #2a47b8;    
    --bs-anchor-hover: #3459e6;
    --bs-border-color1:#ced4da;
    --bs-border-color2: #9aacf3;    
    --bs-border-color4: #2a47b8;    
    --bs-border-color6: #dfe0e1;         
    --bs-border-color10: #dee2e6;    
    --bs-border-color11: #fbfcfc; 
    --bs-border-color12: #fbfcfc;                   
    --bs-text-color1: #262626;
    --bs-text-color2: #000;
    --bs-text-color3: #fff;     
    --bs-text-color6: #000;
    --bs-text-color7: #444;  
    --bs-text-color8: #f8f9fa;     
    --bs-background-color1:#fff;       
    --bs-background-color5: #3459e6; 
    --bs-background-color7: #fff;    
    --bs-background-color9: #dee2e6;      
    --bs-background-color12: #f8f9fa;        
    --bs-background-color16: #ccc;   
    --bs-background-color17: #dfe0e1;
    --bs-background-color18: #fdfdfe;  
    --bs-background-color19: #ececf6; 
    --bs-background-color20: #fdfdfe;      
    --bs-box-shadow-color1: rgba(52, 89, 230, 0.251);
    --bs-box-shadow-color2: rgba(0, 0, 0, 0.051);
    --bs-box-shadow-color5: rgba(217, 217, 217, 0.502);
    --bs-box-shadow-color7: rgba(0, 0, 0, 0.1);    
    --bs-filter1: brightness(0);
    --bs-url1: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

/************ Generic Layout ************/  
body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--bs-text-color1);
    background-color: var(--bs-body-bg) !important;
    font-size: 0.9375rem;    
    padding-bottom: 30px;    
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 30px;
    line-height: 30px;
}

.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: var(--bs-anchor-color);
    text-decoration: none;
}

a:hover {
    color: var(--bs-anchor-hover);
    text-decoration: none;
}

h1, .h1 {
    font-size: 3rem;
}

h2, .h2 {
    font-size: 2.5rem;
}

h3, .h3 {
    font-size: 2rem;
}

h4, .h4 {
    font-size: 1.40625rem;
}

h5, .h5 {
    font-size: 1.171875rem;
}

h6, .h6 {
    font-size: 0.9375rem;
}

.font-weight-semibold {
    font-weight: 600;
}

input:not(.btn):not([type=checkbox]):not([type=radio]):not(.ui-pg-input),
select:not(.ui-pg-selbox) {
    height: 32px;
}

input.date {
    font-size: 20px !important;
    padding: 0px 10px 0 40px !important;
    font-weight: 200;
    cursor: pointer;
    width: 170px !important;
}

input[type="search"] {
    outline: none !important;
}
  
input[type="search"]::-webkit-search-cancel-button {
    -webkit-filter: var(--bs-filter1);
    filter: var(--bs-filter1);
    cursor: pointer;
}

input[type="search"]:focus {
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color1);
}

input[type="date"] {
    outline: none !important;
}

input[type="date"]:focus {
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color1);
}

/************ Libraries ************/
/** Bootstrap Overrides **/
.text-primary {
    color: var(--bs-text-color2) !important;
}

.text-secondary {
    color: var(--bs-text-color7) !important;
}

a.text-primary:focus, a.text-primary:hover {
    color: var(--bs-anchor-hover) !important;
}

a.text-secondary:focus, a.text-secondary:hover {
    color: var(--bs-anchor-hover) !important;
}

.form-control {
    font-size: 0.9375rem;
    color: var(--bs-text-color1);
    border-color: var(--bs-border-color1);
    background-color: var(--bs-background-color1);    
}

.form-control:-moz-focusring {
    text-shadow: 0 0 0 var(---bs-text-color2);
}

.form-control:focus {
    color: var(--bs-text-color2);
    border-color: var(--bs-border-color1);
    background-color: var(--bs-background-color1);    
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color1);    
}

.form-control::-webkit-input-placeholder {
    color: var(--bs-grey) !important;
}

.form-control::-moz-placeholder {
    color: var(--bs-grey) !important;
}

.form-control:-ms-input-placeholder {
    color: var(--bs-grey) !important;
}

.form-control::-ms-input-placeholder {
    color: var(--bs-grey) !important;
}

.form-control::placeholder {
    color: var(--bs-grey) !important;
}

.form-control:disabled, .form-control[readonly] {
    color: var(--bs-grey);
    -webkit-text-fill-color: var(--bs-grey);
    background-color: var(--bs-border-color10) !important;
}

/* 
select.form-control:focus::-ms-value {
    color: var(--text-color2);
} 
*/

.btn {
    font-size: 0.813rem;
    color: var(--bs-text-color2) !important;
}

.btn:hover {
    color: var(--bs-text-color2) !important;
}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color2);
}

.btn-primary {
    color: var(--bs-white) !important;
    background-color: var(--bs-primary);
    border-color: transparent;
}

.btn-primary:hover {
    color: var(--bs-white) !important;
    background-color: var(--bs-border-color4);
    border-color: transparent;
}

.btn-primary:focus, .btn-primary.focus {
    color: var(--bs-white) !important;
    background-color: var(--bs-border-color4);
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color1);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);    
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: var(--bs-white) !important;
    background-color: var(--bs-border-color4);
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    color: var(--bs-white) !important;
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color1);
}

.btn-secondary {
    color: var(--bs-text-color2) !important;
    background-color: var(--bs-secondary);
    border-color: var(--bs-background-color16);
}

.btn-secondary:hover {
    color: var(--bs-text-color2) !important;    
    background-color: var(--bs-border-color6);
    border-color: transparent;
    /* border-color: var(--bs-border-color6); */
}

.btn-secondary:focus, .btn-secondary.focus {
    color: var(--bs-text-color2) !important;    
    background-color: var(--bs-border-color6);
    border-color: transparent;
    /* border-color: var(--bs-border-color6); */
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color2);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: var(--bs-secondary);
    /* border-color: var(--bs-border-color6); */
    border-color: var(--bs-background-color16);   
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: var(--bs-text-color2) !important;
    background-color: var(--bs-border-color6);
    border-color: var(--bs-background-color16);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    color: var(--bs-text-color2) !important;
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color2);
}

.btn-lg, .btn-group-lg > .btn {
    font-size: 1.171875rem;
}

.btn-sm, .btn-group-sm > .btn {
    font-size: 0.8203125rem;
}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus {
    z-index: 0;
}

.dropdown-menu {
    font-size: 0.9375rem;
    color: var(--bs-text-color1);
    background-color: var(--bs-background-color1);
    border-color: var(--bs-border-color6);    
}

.dropdown-item {
    font-size: 14px !important;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-divider {
    /* border-top: 1px solid var(---bs-background-color2); */
    border-top: 1px solid var(--bs-border-color10);
}

.dropdown-item {
    color: var(--bs-text-color2);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--bs-text-color2);
    background-color: var(--bs-box-shadow-color5);
}

.dropdown-item a {
    color: var(--bs-text-color2) !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-text-color3) !important;
    background-color: var(--bs-background-color5) !important;
}

.dropdown-item.active, .dropdown-item:active a {
    color: var(--bs-text-color3) !important;
    background-color: var(--bs-background-color5) !important;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: var(--bs-grey);
}

/* .dropdown-header {
    font-size: 0.8203125rem;
    color: var(--bs-border-color3);
} */

.dropdown-item-text {
    color: var(--bs-text-color2);
}

.dropdown-item.selected a {
    color: var(--bs-text-color3) !important;
    background-color: var(--bs-background-color5) !important;
}

.dropdown-item.selected.highlighted a {
    color: var(--bs-text-color3) !important;
    background-color: var(--bs-background-color5) !important;
}

.custom-control {
    min-height: 1.40625rem;
    z-index: auto !important;
}

.custom-control-input {
    height: 1.203125rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem var(--box-shadow-color1);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: var(--border-color4);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: var(--background-color30);
    border-color: var(--background-color30);
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
    opacity: 0.5;
}

.custom-control-label::before {
    top: 0.203125rem;
}

.custom-control-label::after {
    top: 0.203125rem;
}

.custom-switch {
    padding-left: 2.5rem;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: 0.5rem;
}

.custom-switch .custom-control-label::after {
    top: calc(0.203125rem + 2px);
}

.custom-select {
    font-size: 0.9375rem;
    color: var(--bs-text-color1);
    background-color: var(--bs-background-color1) !important;
    /* background: var(--bs-background-color1) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23303030' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important; */
    border-color: var(--bs-border-color1) !important;     
}

.custom-select:focus {
    border-color: var(--border-color4);
    box-shadow: 0 0 0 0.2rem var(--box-shadow-color1);
}

.custom-select:focus::-ms-value {
    color: var(--text-color2);
}

.custom-select:-moz-focusring {
    text-shadow: 0 0 0 var(--text-color2);
}

.nav-link {
    padding: 0.5rem 2rem;
}

.nav-link.disabled {
    opacity: 0.65;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--bs-primary);
}

.navbar {
    padding: 1rem 1rem;
}

.navbar-brand {
    padding-top: 0.32421875rem;
    padding-bottom: 0.32421875rem;
    font-size: 1.171875rem;
    color: var(--bs-text-color2);
}

.navbar .navbar-toggler {
    font-size: 1.171875rem;
    border-color: var(--bs-box-shadow-color7);
}

.navbar .navbar-nav .nav-link {
    color: var(--bs-text-color7);
}

.navbar .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: var(--bs-text-color2);
}

.navbar .navbar-toggler {
    color: var(--bs-text-color7);
}

.navbar .navbar-toggler-icon {
    background-image: var(--bs-url1);
}

.navbar .navbar-text {
    color: var(--bs-text-color7);
}

@media (min-width: 992px) {
    .navbar-expand .navbar-collapse {
        display: block;
    }
}

.card {
    background-color: var(--bs-background-color12);
}

.card-header {
    background-color: var(--bs-background-color12);
    border-bottom: 2px solid var(--bs-border-color10);
}

.card-footer {
    background-color: var(--bs-background-color12) !important;
}

.badge {
    font-size: 83% !important;
}

.badge-primary {
    background-color: var(--bs-primary);
}

a.badge-primary:hover, a.badge-primary:focus {
    background-color: var(--bs-border-color4);
}

a.badge-primary:focus, a.badge-primary.focus {
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color1);;
}

.badge-secondary {
    color: var(--bs-text-color2);
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-background-color17);
}

a.badge-secondary:hover, a.badge-secondary:focus {
    background-color: var(--bs-border-color6);
}

a.badge-secondary:focus, a.badge-secondary.focus {
    background-color: var(--bs-border-color6);
    box-shadow: 0 0 0 0.2rem var(--bs-box-shadow-color2);
}

.bg-dark {
    background-color: var(--bs-background-color9) !important;
}

/* 
a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #171616 !important;
} 
*/

.table {
    color: var(--bs-text-color1) !important;
    font-size: 0.813rem;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: var(--bs-background-color18) !important;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: var(--bs-border-color11) !important;
}

.table-hover .table-dark:hover {
    background-color: var(--bs-background-color19) !important;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: var(--bs-background-color19) !important;
}

.table-dark {
    color: var(--bs-text-color1) !important;
    background-color: var(--bs-background-color20) !important;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: var(--bs-border-color12) !important;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.table-dark.table-hover tbody tr:hover {
    color: var(--bs-text-color1) !important;
    background-color: rgba(255, 255, 255, 0.075) !important;
}

@media print {
    .table td,
    .table th {
        background-color: #303030 !important;
    }
}

.nav-tabs .nav-link,
.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
    color: var (--bs-text-color2);
}

/** Bootstrap reliant components **/
.btn-dropdown .dropdown-menu {
    overflow-y: auto;
    max-height: 300px;
}

/** Fusioncharts Overrides **/
.fusioncharts-container>svg>g:nth-of-type(2) {
    display:none !important;
}

/* chart background */
.fusioncharts-container>svg>g:first-of-type>g:nth-of-type(1)>rect {
    fill: var(--bs-background-color12) !important;
}     

.fusioncharts-container>svg>g:first-of-type>g:nth-of-type(3)>g>g>text {
    fill: var(--bs-text-color2) !important;
}     

.fusioncharts-container>svg>g:first-of-type>g:nth-last-of-type(2)>g>g>text {
    fill: var(--bs-text-color2) !important;
}

.fusioncharts-container>svg>g:first-of-type>g:nth-last-of-type(7)>text:first-of-type {
    fill: var(--bs-text-color2) !important;
}

.fusioncharts-container>svg>g:first-of-type>g:nth-last-of-type(8)>text:first-of-type {
    fill: var(--bs-text-color2) !important;
}

.fusioncharts-container>svg>g:first-of-type>g:nth-last-of-type(7)>text:nth-of-type(2) {
    fill: var(--bs-grey) !important;
}

/* export menu */
.fusioncharts-container>svg>g>g:last-of-type>g>g>rect {
    fill: var(--bs-border-color10) !important;
    stroke: var(--bs-border-color1) !important;
}    

.fusioncharts-container > svg + div {
    background: var(--bs-background-color1) !important;
    box-shadow: none !important;
    border-color: #222 !important;
}     

.fusioncharts-container > svg + div div {
    background:var(--bs-background-color1) !important;
}             

.fusioncharts-container > svg + div div span {
    color: var(--bs-text-color2) !important;        
    background: var(--bs-background-color1) !important;
}     

.fusioncharts-container > svg + div div span:hover {
    background-color: rgba(255,255,255,.15) !important;
}    

/* tooltip */
.fusioncharts-container > .fc__tooltip.fusioncharts-div {
    font-size: 11px !important;
    max-width: 300px !important;
    white-space: normal !important;
}

/* legend scrollbar */
.fusioncharts-container>svg>g>g[class$="legend"]>g[class$="legendGroup"]>g[class$="scrollGroup"]>g[class$="scrollContainer"]>rect {
    fill: var(--bs-text-color8) !important;
    stroke: var(--bs-text-color8) !important;
}

.fusioncharts-container>svg>g>g[class$="legend"]>g[class$="legendGroup"]>g[class$="scrollGroup"]>g[class$="scrollContainer"]>rect:nth-of-type(2) {
    fill: var(--bs-border-color10) ! important;
    stroke: var(--bs-border-color10) !important;    
}

/** Tabulator Overrides **/
.grid-container {
    background-color: var(--bs-background-color12);
}

.tabulator {
    background-color: var(--bs-background-color12);
}

.tabulator-row {
    background-color: var(--bs-background-color12);
    border-bottom-color: var(--bs-border-color10);
}

.tabulator-row.tabulator-group {
    background-color: var(--bs-border-color6);
    border-bottom-color: var(--bs-border-color10);
    border-top: none;
    border-right: none;
}

.tabulator-row .tabulator-cell {
    font-size: 0.813rem;
}

.tabulator .tabulator-header {
    background-color: var(--bs-background-color12);
    border-bottom-color: var(--bs-border-color10);
}

.tabulator .tabulator-header .tabulator-col {
    background-color: var(--bs-background-color12);
}

.tabulator-header .tabulator-headers .tabulator-col {
    height: auto !important;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    /* background-color: rgba(255,255,255,.15) !important; */
    background-color: var(--bs-border-color6) !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-filter .btn-delete-filter {
    color: var(--bs-text-color2);
    background-color: var(--bs-background-color12);
    width: 10%;
    border: none;    
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
}

.tabulator .tabulator-tableHolder .tabulator-table {
    background-color: var(--bs-background-color12);
}

.tabulator .tabulator-footer {
    border-top-color: var(--bs-border-color10);
    background-color: var(--bs-background-color12);
}

.tabulator .tabulator-footer .tabulator-page {
    color: var(--bs-text-color2) !important;
    border-color: var(--bs-border-color10);
    background-color: var(--bs-background-color1);
}

.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--bs-border-color6) !important;
    border-color: var(--bs-border-color1);  
}

.tabulator-edit-select-list {
    background-color: var(--bs-background-color1);
    border-color: var(--bs-border-color1);
}

.tabulator-edit-select-list .tabulator-edit-select-list-item:hover{
    background-color: var(--bs-box-shadow-color5) !important;
    color: var(--bs-text-color2) !important;
}

.tabulator-edit-select-list .tabulator-edit-select-list-item.active {
    color: var(--bs-text-color3) !important;
    background-color: var(--bs-background-color5) !important;
}

.tabulator-edit-select-list .tabulator-edit-select-list-item.focused {
    background-color: var(--bs-box-shadow-color5);    
    color: var(--bs-text-color2);
    outline: none;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
    text-align: left;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {
    background-color: var(--bs-background-color1);
    color: var(--bs-text-color2);
    border: 1px solid var(--bs-border-color1) !important;   
    font-size: 12px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input::-ms-clear {
    color: #fff;   
    background-color: #fff;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter svg {
    color: #fff;
    background-color: #fff;
}

.tabulator-row.tabulator-selectable:hover{
    background-color: var(--bs-border-color10) !important;
}

.tabulator-row.tabulator-selected{
    background-color: var(--bs-border-color10) !important;
}

.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row.active {
    color: #262626 !important;
    background-color: #E0E0E0 !important;
}

.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row.active a.text-primary {
    color: #262626;
}

/** Tippy Overrides **/
.tippy-box {
    color: var(--bs-text-color1) !important;
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-background-color16) !important;
    overflow-wrap: break-word;
}

.username-text {
    font-weight: 500;
    color: var(--bs-text-color2);
}

.username-color-light {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;   
}

.username-color-dark {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;   
}

.theme-dark .username-color-light {
    background: none !important; 
}

.theme-light .username-color-dark {
    background: none !important;
}

/********** Custom Components (No Style Dependancy)**********/
/** AutocompleteVue and MultiiselectVue (vue-select) **/
.icon.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    height: 8px;
    width: 8px;
    min-height: 8px;
    min-width: 8px;
    max-height: 8px;
    max-width: 8px;
    cursor: pointer;
}

.vue-tag.selected .icon.delete {
    content: "\f00d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
}

.icon.arrow-downward {
    color: #999;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #999 transparent transparent;
    content: '';
    transition: transform 0.2s linear;
    cursor: pointer;
}

.icon.arrow-downward.active {
    transform: rotate(180deg);
}

.vue-select {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    border: none; 
    box-sizing: border-box;
    outline: none;
    width: auto;
    border: none;    
}

.vue-select[aria-disabled='true'] {
    background-color: rgba(239, 239, 239);
}

.vue-select[aria-disabled='true'] * {
    cursor: not-allowed;
}

.vue-select[aria-disabled='true'] input {
    cursor: not-allowed;
}

.vue-select-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bs-background-color1);
    border: 1px solid var(--bs-border-color1);
    padding: 3px;
}

.vue-select-header .icon.loading,
.vue-select-header .icon.arrow-downward {
    margin-right: 4px;
}

div[data-disabled="true"] .vue-select-header {
    background-color: var(--bs-border-color10);
}

.vue-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 2px;
    min-height: 32px;
    user-select: none;
}

.vue-tags.collapsed {
    flex-wrap: nowrap;
    overflow: auto;
}

.vue-tag {
    display: none;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border-radius: 4px;
    background-color: #999;
    padding: 0 4px;
    margin: 2px;
    min-height: 1rem;
    font-size: 0.8rem;
}

.vue-tag span {
    margin-right: 4px;
}

.vue-tag.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 2px;
    margin-bottom: 1px;    
    color: var(--bs-text-color2);
    background-color: var(--bs-background-color12);
    border: 1px solid var(--bs-border-color1);
}

.vue-tags[data-removable='false'] .vue-tag.selected img:hover {
    cursor: not-allowed;
}

.grid-group ul {
    display: flex;
    min-height: 32px;
    list-style: none;
    padding: 5px;
    border: 2px dashed var(--bs-border-color10);
    margin-bottom: 0px;
}

.grid-group .group-placeholder {
    height: 32px;
    line-height: 32px;
    width:100%;
    color:#6c757d;
    text-align: center; 
    font-style: italic; 
    font-weight: bold;
}

.grid-group .group-label {
    font-weight:bold;
    font-style: italic;
    font-size: 0.813rem;;
    padding: 8px;
}

.grid-group .group-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2px;
    margin-bottom: 1px;    
    color: var(--bs-text-color2);
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-border-color1);
}

div[data-disabled="true"] .vue-tag.selected {
    color: var(--bs-grey);    
    opacity: 0.65;
}

.vue-select-input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.vue-select-input-wrapper .icon.loading {
    margin-right: 4px;
}

.vue-input {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    border: none;
    outline: none;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}

.vue-select[data-is-focusing='false'][aria-disabled='false'] .vue-input input,
input[readonly] {
    cursor: default;
}

.vue-input input {
    border: none;
    outline: none;
    width: 100%;
    min-width: 0;
    font-size: 0.8rem;
    padding: 0;
}

.vue-input input[disabled] {
    background-color: rgba(239, 239, 239);
}

.vue-input input[readonly] {
    background-color: unset;
}

.vue-select-header .vue-input input {
    font-size: 0.9375rem;
    padding: 6px 12px 6px 12px;
    height: 32px;    
    background-color: var(--bs-background-color1);
    color: var(--bs-text-color2);
}

.vue-select-header .vue-input input[disabled] {
    background-color: var(--bs-border-color10); 
    color: var(--bs-text-color2);
}

.vue-dropdown {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
    overflow-y: auto;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    left: -1px;
    box-sizing: content-box;
    list-style-type: none;
    max-height: none !important;    
    background-color: var(--bs-background-color1);
    border: 1px solid var(--bs-background-color16);    
}

.vue-select[aria-expanded='true'] .vue-dropdown {
    display: unset;
}

.vue-dropdown[data-visible-length='0'] {
    border: none;
}

.vue-dropdown-item {
    list-style-type: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 4px 24px 4px 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    min-height: 1rem;
}

.vue-dropdown-item.group {
    font-weight: bold;
    padding-left:15px;
    pointer-events: none;
}

.vue-dropdown-item.highlighted,
.vue-dropdown-item:hover {
    background-color: var(--bs-box-shadow-color5);
}

.vue-dropdown-item.highlighted:not(.group),
.vue-dropdown-item:hover:not(.group) {
    text-decoration: none;
    cursor: pointer;
    border: none !important;    
    background-color: var(--bs-box-shadow-color5);  
}

.vue-dropdown-item.disabled {
    color: var(--bs-grey);
    background-color: var(--bs-background-color12); 
    cursor: not-allowed;   
}

.vue-dropdown-item.selected {
    color: #262626 !important;
    background-color: #E0E0E0 !important;    
}

.vue-dropdown-item.selected.highlighted,
.vue-dropdown-item.selected:hover {
    color: #262626 !important;
    background-color: #E0E0E0 !important;
}

.vue-dropdown[data-removable='false'] .vue-dropdown-item.selected:hover {
    cursor: not-allowed;
}

.vue-dropdown[data-addable='false'][data-multiple='true'] .vue-dropdown-item:not(.selected):hover {
    cursor: not-allowed;
}

.icon.loading {
    display: inline-block;
    position: relative;
    width: 8px;
    min-width: 8px;
    height: 8px;
    min-height: 8px;
}

.icon.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border: 1px solid #999;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: loading 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #999 transparent transparent transparent;
}

.icon.loading div:nth-child(1) {
    animation-delay: -0.08s;
}
.icon.loading div:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.icon-elipsis-container {
    width: 15px;
    display: inline-block;
}

.icon-elipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

.inline-flex {
    display: inline-flex;
}

.vue-select[aria-expanded='true'].direction-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.vue-select[aria-expanded='true'].direction-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vue-select.direction-top .vue-dropdown {
    bottom: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.vue-select.direction-bottom .vue-dropdown {
    top: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (min-width: 992px) {
    .navbar .vue-select {
        min-width: 400px !important;
        margin-right: 8px;
    }

    .navbar .vue-dropdown {
        min-width: 400px !important;
        max-width: 500px;
        width: auto !important;
    }
}

/** ModalVue **/
.cmv-modal-fade-enter,
.cmv-modal-fade-leave-to {
    opacity: 0;
}

.cmv-modal-fade-enter-active,
.cmv-modal-fade-leave-active {
    transition: opacity .5s ease;
}     

.cmv-modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.cmv-modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.cmv-modal-container {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    outline: none;          
    overflow-x: hidden;
    overflow-y: auto;                                  
}

.cmv-modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.cmv-modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.cmv-modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
}

.cmv-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    background-color: var(--bs-background-color7);        
    border: 1px solid;
    border-radius: 0.3rem;
    border-color: var(--bs-border-color10);        
    outline: 0;
}

.cmv-modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid;
    border-bottom-color: var(--bs-border-color10);        
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.cmv-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.cmv-modal-header .cmv-close {
    padding: .75rem .75rem;
    margin: -1rem -1rem -1rem auto;
}   

.cmv-close {
    float: right;
    font-size: 1.40625rem;
    font-weight: 700;
    line-height: 1;
    color: var(--bs-text-color2);
    text-shadow: none;
    opacity: .5;
}

.cmv-close:hover {
    color: var(--bs-text-color2);
    text-decoration: none;
}

.cmv-close:not(:disabled):not(.disabled):hover, .cmv-close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

button.cmv-close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.cmv-modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.cmv-modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid;
    border-top-color: var(--bs-border-color10);         
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

@media (min-width: 576px) {
    .cmv-modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    .cmv-modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
    .cmv-modal-dialog-centered::before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
    .cmv-modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .cmv-modal-md,
    .cmv-modal-lg,
    .cmv-modal-xl {
      max-width: 700px;
    }
}

@media (min-width: 992px) {
    .cmv-modal-lg,
    .cmv-modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .cmv-modal-xl {
        max-width: 1140px;
    }
}

/** SpeedRunGridTab, SpeedRunGridTabVariable, WorldRecordGridTab (tab-list) **/
.tab-list .nav {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
}

.tab-list .nav-link {
    color: var(--bs-text-color2);
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-background-color16);
    font-size: 13px;
    font-weight: 600;    
}

.tab-list .nav-link.active {
    background-color: var(--bs-primary) !important;
    border: 1px solid var(--bs-primary) !important;
}

.tab-list .dropdown .btn.dropdown-toggle {
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-background-color16);
    font-size: 13px;
    font-weight: 600;
    padding: 0.5rem !important;   
    max-width: 300px; 
}

.tab-list .dropdown .btn.dropdown-toggle.active {
    color: var(--bs-white) !important;
    background-color: var(--bs-primary) !important;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle::before {
    float: right;
    margin-left: 0.255em;
    margin-top: 0.58em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
  .dropdown-toggle:empty::before {
    margin-left: 0;
  }

.tab-row-name {
    font-size: 14px !important;
    line-height: 18px;
    font-weight: 600;
}

.btn.categorytype {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.btn.category {
    font-size: 13px !important;
    font-weight: 600 !important;
}    

@media (max-width: 575.98px) {
    .tab-list .dropdown .dropdown-menu {
        max-width: 215px;
    }

    .btn.categorytype {
        font-size: 12px !important;
    }

    .btn.category {
        font-size: 12px !important;
    }    
}

/** GameDetails **/
@media (min-width: 768px) {
    .img-width {
        max-width: 126px !important;
    }
}

/** SpeedRunSummaryVue, GameDetails **/
.img-round {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.img-round > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** SpeedRunSummaryVue **/
.speedRunSummary {
    background: var(--bs-background-color12);
    margin-bottom: 20px;
}

div.stretchy-wrapper{
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    background: var(--bs-background-color12);
    overflow: hidden;
}

div.stretchy-wrapper > div {
    position: absolute;
    top: -16.75%; bottom: 0; left: 0; right: 0;
}

.embed-responsive .play-icon {
    cursor: pointer;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.play-icon:before {
    color: #fff;
}

.nowrap-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: #b08d57;
}

@media (max-width: 767.98px) {
    .show-md {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .show-md {
        display: block !important;
    }

    .show-sm {
        display: none !important;
    }
}  

/** SpeedRunEditVue **/
.icon-wrapper {
    position: relative;
    font-size: 20px;
    display: block;
    line-height: 32px;
}

@media (min-width: 768px) {
    .img-width {
        max-width: 126px !important;
    }
}

/** SpeedRunGridChartVue **/
.brand-logo {
    width: 25px;
}

/** containers **/
/* .chart-placeholder {
    background-color: var(--background-color52);
}

.fusioncharts-container {
    background-color: var(--background-color52);
} */





