<div class="container mx-auto p-0" style="max-width:598px; margin-bottom:20px;">
    <div class="speedRunSummary bg-dark">
        <div class="header p-2 container d-flex">
            <div class="p-0 col-sm-2 align-self-center">
                <div class="img-round">
                    <img src="<%= item.gameCoverImageLink %>" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="pl-2 col-7 align-self-center">
                <div>
                    <small class="text-muted">Posted <%= item.relativeDateSubmittedString %></small>
                </div>
                <div>
                    <a href='../Game/GameDetails?gameID=<%=item.game.id%>' class="text-primary"><%= item.game.name %></a>
                </div>
                <div class="text-secondary">
                    <small><%= item.category.name %><%= (item.subCategoryVariableValuesString) ? ' - ' : '' %><%= item.subCategoryVariableValuesString %></small>
                </div>
                <div class="text-secondary" style="font-size:14px;">
                    <%= item.rankString %>
                    <%= (item.rankString) ? ' - ' : '' %>
                    <% _.each(item.players, function(ft, index) { %>
                    <a href="../User/UserDetails?userID=<%=ft.id%>" class="text-secondary"><%= ft.name %></a> <%= (item.players.length == index) ? ', ' : '' %>
                    <% }) %>
                    &nbsp;-&nbsp;
                    <%= item.primaryTimeString %>
                </div>
            </div>
            <div class="details ml-auto align-self-center">
                <a title="Details" href="javascript:showSpeedRunDetails('<%= item.id %>','<%= item.game.id %>');" class="btn btn-primary detail" style="font-size:12px;">Details</a>
            </div>
        </div>
        <div class="body p-0 embed-responsive embed-responsive-16by9">
            <iframe src="<%= item.videoLink %>"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true"></iframe>
        </div>
        <input type="hidden" class="orderValue" value="<%=item.orderValue%>"/>
    </div>
</div>



