<div id="divChartContainer" class="container-fluid ml-0" style="">
    <% _.each(item.tabItems, function(game, gameIndex) { %>
    <div id="divGame-<%= gameIndex %>-charts" class="game-tab-pane-charts p-0 <%= (gameIndex == 0) ? ' show' : '' %>">
        <% _.each(game.categoryTypes, function(categoryType, categoryTypeIndex) { %>
        <div id="divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-charts" class="categoryType-tab-pane-charts p-0 <%= (categoryTypeIndex == 0) ? ' show' : '' %>">
            <% _.each(_.filter(game.categories, function(ft) { return ft.categoryTypeID == categoryType.id }), function(category, categoryIndex) { %>
            <div id="divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-charts" class="category-tab-pane-charts <%= (categoryIndex == 0) ? ' show' : '' %>">
                <div class="category-results-charts">
                    <% if(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && (ft.scopeTypeID == '0' || ft.scopeTypeID == '1') }).length > 0) { %>
                    <%= fn.renderSpeedRunGridVariableChartTemplate({ item: new speedRunGridVariableModel(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && (ft.scopeTypeID == '0' || ft.scopeTypeID == '1') }), 'category', game.id, categoryType.id, category.id, '', gameIndex, categoryTypeIndex, categoryIndex, '', '', '', 0), fn: { renderSpeedRunGridVariableChartTemplate: fn.renderSpeedRunGridVariableChartTemplate }}) %>
                    <% } else { %>
                    <div class="charts-container row" data-gameid="<%= game.id %>" data-categorytype="<%= category.categoryTypeID %>" data-categoryid="<%= category.id %>">
                        <div class="chart-placeholder chart-container-0">
                            <div class="mx-auto align-self-center">
                                <i class="fa fa-spinner fa-spin fa-lg"></i>
                            </div>
                        </div>
                        <div class="chart-placeholder chart-container-1">
                            <div class="mx-auto align-self-center">
                                <i class="fa fa-spinner fa-spin fa-lg"></i>
                            </div>
                        </div>
                        <div class="chart-placeholder chart-container-2">
                            <div class="mx-auto align-self-center">
                                <i class="fa fa-spinner fa-spin fa-lg"></i>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="level-results-charts">
                    <% _.each(game.levels, function(level, levelIndex) { %>
                    <% if(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && ft.levelID == level.id && (ft.scopeTypeID == '2' || ft.scopeTypeID == '3') }).length > 0) { %>
                    <%= fn.renderSpeedRunGridVariableChartTemplate({ item: new speedRunGridVariableModel(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && ft.levelID == level.id && (ft.scopeTypeID == '2' || ft.scopeTypeID == '3') }), 'level', game.id, categoryType.id, category.id, level.id, gameIndex, categoryTypeIndex, categoryIndex, levelIndex, '', '', 0), fn: { renderSpeedRunGridVariableChartTemplate: fn.renderSpeedRunGridVariableChartTemplate }}) %>
                    <% } else { %>
                    <div id="divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-<%= levelIndex %>-charts" class="level-tab-pane-charts">
                        <div class="charts-container row" data-gameid="<%= game.id %>" data-categorytype="<%= category.categoryTypeID %>" data-categoryid="<%= category.id %>" data-levelid="<%= level.id %>">
                            <div class="chart-placeholder chart-container-0">
                                <div class="mx-auto align-self-center">
                                    <i class="fa fa-spinner fa-spin fa-lg"></i>
                                </div>
                            </div>
                            <div class="chart-placeholder chart-container-1">
                                <div class="mx-auto align-self-center">
                                    <i class="fa fa-spinner fa-spin fa-lg"></i>
                                </div>
                            </div>
                            <div class="chart-placeholder chart-container-2">
                                <div class="mx-auto align-self-center">
                                    <i class="fa fa-spinner fa-spin fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% }) %>
                </div>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
    <% }) %>
</div>

<div style="overflow:auto;">
    <div id="divGridContainer" class="tab-grid-container pt-2">
        <div class="game-tabs row no-gutters px-1 pt-1 pb-0" style="<%= (item.sender == 'Game') ? 'display:none' : '' %>">
            <div class="tab-row-name-container col-auto align-self-end">
                <label class="tab-row-name">Game:</label>
            </div>
            <div class="col pl-2 scroller-tab-wrapper">
                <div class="row no-gutters">
                    <div class="scroller-tab scroller-tab-left-end btn btn-secondary"><i class="fa fa-step-backward"></i></div>
                    <div class="scroller-tab scroller-tab-left btn btn-secondary"><i class="fa fa-angle-left"></i></div>
                    <div class="col scroller-tab-list-container">
                        <ul class="nav nav-pills scroller-tab-list">
                            <% _.each(item.tabItems, function(game, gameIndex) { %>
                            <li class="nav-item game">
                                <a class="nav-link <%= (gameIndex == 0) ? ' active' : '' %>" href="#divGame-<%= gameIndex %>" data-toggle="pill"><%= game.name %></a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="scroller-tab scroller-tab-right btn btn-secondary"><i class="fa fa-angle-right"></i></div>
                    <div class="scroller-tab scroller-tab-right-end btn btn-secondary"><i class="fa fa-step-forward"></i></div>
                </div>
            </div>
        </div>
        <% _.each(item.tabItems, function(game, gameIndex) { %>
        <div>
            <div id="divGame-<%= gameIndex %>" class="game-tab-pane p-0 <%= gameIndex == 0 ? ' show' : '' %>">
                <div class="categoryType-tabs row no-gutters pl-1 pt-1 pb-0 pr-0">
                    <div class="tab-row-name-container col-auto align-self-end">
                        <label class="tab-row-name">Category Type:</label>
                    </div>
                    <div class="col pl-2 scroller-tab-wrapper">
                        <div class="row no-gutters">
                            <div class="scroller-tab scroller-tab-left-end btn btn-secondary"><i class="fa fa-step-backward"></i></div>
                            <div class="scroller-tab scroller-tab-left btn btn-secondary"><i class="fa fa-angle-left"></i></div>
                            <div class="col scroller-tab-list-container">
                                <ul class="nav nav-pills scroller-tab-list">
                                    <% _.each(game.categoryTypes, function(categoryType, categoryTypeIndex) { %>
                                    <li class="nav-item categoryType">
                                        <a class="nav-link <%= (categoryTypeIndex == 0) ? ' active' : '' %>" href="#divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>" data-toggle="pill"><%= categoryType.name %></a>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="scroller-tab scroller-tab-right btn btn-secondary"><i class="fa fa-angle-right"></i></div>
                            <div class="scroller-tab scroller-tab-right-end btn btn-secondary"><i class="fa fa-step-forward"></i></div>
                        </div>
                    </div>
                </div>
                <% _.each(game.categoryTypes, function(categoryType, categoryTypeIndex) { %>
                <div id="divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>" class="categoryType-tab-pane <%= (categoryTypeIndex == 0) ? ' show' : '' %>">
                    <div class="category-tabs row no-gutters pl-1 pt-1 pb-0 pr-0">
                        <div class="tab-row-name-container col-auto align-self-end">
                            <label class="tab-row-name">Category:</label>
                        </div>
                        <div class="col pl-2 scroller-tab-wrapper">
                            <div class="row no-gutters">
                                <div class="scroller-tab scroller-tab-left-end btn btn-secondary"><i class="fa fa-step-backward"></i></div>
                                <div class="scroller-tab scroller-tab-left btn btn-secondary"><i class="fa fa-angle-left"></i></div>
                                <div class="col scroller-tab-list-container">
                                    <ul class="nav nav-pills scroller-tab-list">
                                        <% _.each(_.filter(game.categories, function(ft) { return ft.categoryTypeID == categoryType.id }), function(category, categoryIndex) { %>
                                        <li class="nav-item category">
                                            <a class="nav-link <%= (categoryIndex == 0) ? ' active' : '' %>" href="#divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>" data-toggle="pill" data-categorytype="<%= category.categoryTypeID %>"><%= category.name %><% if(!category.hasData) { %><i class="pl-1">(empty)</i><% } %></a>
                                        </li>
                                        <% }) %>
                                    </ul>
                                </div>
                                <div class="scroller-tab scroller-tab-right btn btn-secondary"><i class="fa fa-angle-right"></i></div>
                                <div class="scroller-tab scroller-tab-right-end btn btn-secondary"><i class="fa fa-step-forward"></i></div>
                            </div>
                        </div>
                    </div>
                    <% _.each(_.filter(game.categories, function(ft) { return ft.categoryTypeID == categoryType.id }), function(category, categoryIndex) { %>
                    <div id="divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>" class="category-tab-pane <%= (categoryIndex == 0) ? ' show' : '' %>">
                        <div class="category-results">
                            <% if(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && (ft.scopeTypeID == '0' || ft.scopeTypeID == '1') }).length > 0) { %>
                            <%= fn.renderSpeedRunGridVariableTemplate({ item: new speedRunGridVariableModel(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && (ft.scopeTypeID == '0' || ft.scopeTypeID == '1'); }), 'category', game.id, categoryType.id, category.id, '', gameIndex, categoryTypeIndex, categoryIndex, '', '', '', 0), fn: { renderSpeedRunGridVariableTemplate: fn.renderSpeedRunGridVariableTemplate }}) %>
                            <% } else { %>
                            <div class="grid-container" data-gameid="<%= game.id %>" data-categorytype="<%= categoryType.id %>" data-categoryid="<%= category.id %>" data-levelid="">
                                <table id="tblGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-" class="grid"></table>
                                <div id="divPager-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-" class="pager"></div>
                                <div id="divLoading-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-" class="loading">
                                    <div class="container d-flex ml-0" style="height:465px;">
                                        <div class="mx-auto align-self-center">
                                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="level-results">
                            <div class="level-tabs row no-gutters pl-1 pt-1 pb-0 pr-0">
                                <div class="tab-row-name-container col-auto align-self-end">
                                    <label class="tab-row-name">Levels:</label>
                                </div>
                                <div class="col pl-2 scroller-tab-wrapper">
                                    <div class="row no-gutters">
                                        <div class="scroller-tab scroller-tab-left-end btn btn-secondary"><i class="fa fa-step-backward"></i></div>
                                        <div class="scroller-tab scroller-tab-left btn btn-secondary"><i class="fa fa-angle-left"></i></div>
                                        <div class="col scroller-tab-list-container">
                                            <ul class="nav nav-pills scroller-tab-list">
                                                <% _.each(game.levels, function(level, levelIndex) { %>
                                                <li class="nav-item level">
                                                    <a class="nav-link <%= (levelIndex == 0) ? ' active' : '' %>" href="#divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-<%= levelIndex %>" data-toggle="pill"><%= level.name %><% if(!level.hasData) { %><i class="pl-1">(empty)</i><% } %></a>
                                                </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                        <div class="scroller-tab scroller-tab-right btn btn-secondary"><i class="fa fa-angle-right"></i></div>
                                        <div class="scroller-tab scroller-tab-right-end btn btn-secondary"><i class="fa fa-step-forward"></i></div>
                                    </div>
                                </div>
                            </div>
                            <% _.each(game.levels, function(level, levelIndex) { %>
                            <div id="divGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-<%= levelIndex %>" class="level-tab-pane">
                                <% if(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && ft.levelID == level.id && (ft.scopeTypeID == '0' || ft.scopeTypeID == '2' || ft.scopeTypeID == '3') }).length > 0) { %>
                                <%= fn.renderSpeedRunGridVariableTemplate({ item: new speedRunGridVariableModel(_.filter(game.subCategoryVariables, function(ft) { return ft.categoryID == category.id && ft.levelID == level.id && (ft.scopeTypeID == '0' || ft.scopeTypeID == '2' || ft.scopeTypeID == '3') }), 'level', game.id, categoryType.id, category.id, level.id, gameIndex, categoryTypeIndex, categoryIndex, levelIndex, '', '', 0), fn: { renderSpeedRunGridVariableTemplate: fn.renderSpeedRunGridVariableTemplate }}) %>
                                <% } else { %>
                                <div class="grid-container" data-gameid="<%= game.id %>" data-categorytype="<%= categoryType.id %>" data-categoryid="<%= category.id %>" data-levelid="<%= level.id %>">
                                    <table id="tblGame-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-<%= levelIndex %>-VariableValue-NA" class="grid"></table>
                                    <div id="divPager-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-<%= levelIndex %>-VariableValue-NA" class="pager"></div>
                                    <div id="divLoading-<%= gameIndex %>-CategoryType-<%= categoryTypeIndex %>-Category-<%= categoryIndex %>-Level-<%= levelIndex %>-VariableValue-NA" class="loading">
                                        <div class="container d-flex ml-0" style="height:465px;">
                                            <div class="mx-auto align-self-center">
                                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </div>
</div>


